<div class="details" *ngIf="cocktail; else elseBlock">
  <div class="info">
    <h1 class="text-3xl">{{cocktail?.name}}</h1>

    <!-- Instructions -->
    <div *ngIf="cocktail.instructions" class="instructions">
      <h3 class="primary-col-title text-2xl">Instructions</h3>
      <p>{{ cocktail.instructions.en}}</p>
    </div>

    <!-- Ingredients -->
    <div *ngIf="cocktail.ingredients" class="ingredients">
      <h3 class="primary-col-title text-2xl">Ingredients</h3>
      <div *ngFor="let ingredient of cocktail?.ingredients" class="ingredient">
        <b>{{ingredient.name}}</b>
        <span>{{ ingredient.measure || "N/A" }}</span>
      </div>
    </div>
    <button class="btn info-btn" (click)="goBack()">Go back</button>
  </div>
  <!-- image -->
  <div class="img-container">
    <img src="{{cocktail.img}}" />
  </div>
</div>
<ng-template #elseBlock>
  <div class="no-hits" *ngIf="!isLoading">
    <div>
      <img src="/images/logo.png" alt="Logo" />
      <h3>No cocktail available</h3>
      <h2>Get drunk on something else...</h2>
      <button class="btn info-btn" (click)="goBack()">Back</button>
    </div>
  </div>
</ng-template>
